.video-card {
  height: 300px;
  width: 360px;
  cursor: pointer;
}
.card-title {
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-light);
}
.video-thumbnail {
  display: block;
  margin-bottom: 5px;
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.video-card-footer {
  display: flex;
  width: 100%;
  gap: 5px;
}
.text-muted {
  font-size: 0.8rem;
}
.video-card-channel {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.video-views::after {
  content: '•';
  margin: 0 5px;
}
.video-menu {
  visibility: hidden;
  margin-left: auto;
  position: relative;
}
.menu-options {
  display: none;
  position: absolute;
  width: 11rem;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: var(--white-color);
}
.menu-options > * {
  display: block;
  margin: 10px 0;
}
.show-menu {
  display: block;
}
.menu-options-item {
  display: flex;
  gap: 5px;
  align-items: center;
}
.video-card:hover .video-menu {
  visibility: visible;
}

@media screen and (max-width: 800px) {
  .video-menu {
    visibility: visible;
  }
}
