.video-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100vw - 100px);
  gap: 1rem;
  position: relative;
  margin-top: 50px;
}
.filter {
  position: absolute;
  top: -50px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
input[type='radio'] {
  display: none;
}
label {
  padding: 7px;
}
input[type='radio']:checked + label {
  display: inline-block;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 7px;
  border-radius: 5px;
  color: var(--white-color);
}
