@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --primary-color: #e50914;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-light: #ffffff;
  --text-light: #000;
  background-color: var(--background-light);
  overflow-x: hidden;
}
.dark {
  --background-light: #000;
  --text-light: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
